html {

	padding: 0;
	margin: 0;
}

body {
  height: 100%;
  width: 100%;


}

p {

	text-align: center;
	margin: 0;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-family:  benton-modern, serif;
	font-size: 18pt;
	color: white;
	font-weight: 700;

	@media screen and (min-width: 360px) {

		font-size: 22pt;
	}

}





.bottom {
		position: absolute;
		bottom: 120px;
	}

.bottom-alt {

position: absolute;
		bottom: 85px;
	

}

.top {

	position: absolute;
	top: 10px;

}

body {


	padding: 0;
	margin: 0;

}

.button-a {



}

.is-hidden {

	display: none;
}

.is-clear {

	opacity: 0;
}



.fill-page {

	height: 100vh;

	width: 100%;
	position: relative;
	overflow: hidden;

}


.fill-space {

	height: 100%;
	margin: 0 auto;
	background-size: auto 100%;
	background-position: center top;

	position: relative;
	top: 0px;

}

section {

	text-align: center;

}

.center-graphic {

	position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 


}

.down-arrow {

	width: 13%;

	bottom: 80px;

}


#s1 {

	background-color: #121F4B;
	text-align: center;

	.having-fun {

		bottom: 70px;
		width: 80%;

	}
	
	.button-a {

		padding: 0 auto;
		position: absolute;

		top: 40vh;

		width: 76%;
		transition-duration: .3s;
		transition-timing-function: ease-out;
		}

	.button-a:hover {

		top: calc(40vh - 1%);
		width: 80%;
		transition-duration: .3s;
		transition-timing-function: ease-out;
		}

	.title-svg {

		max-width: 79%;
	}


}




#s2 {

	background-color: #121f4b;

	#goals {
		top: calc(20vh);
		width: 170%;

		margin-left: -35%;
	}

	#goals-p3 {

		
	}



}

#s3 {

	background-color: #3ce0aa;

	#pinata-01 {

		width: 70%;
		top: -30%;

	}
	#pinata-02 {

		width: 85%;
		top:-10%;
	}

	#pinata-p1, #pinata-p2 {

		
	
	}

}

#s4 {

	#sunrise {

		height: 100vh;
		margin-left: 95vh;

	}

	#s4-p2 {

	
	} 
}

#s5 {

	background-color: #121f4b;

	#tictac {

		width: 90%;

		top: 20%;
	}

}

#s6 {

	background-color: #121f4b;

	#twbf {

		width: 90%;

		margin-top: 15%;
	}

	#s6-p1 {

			text-align: center;
			top: 22vh;

		}

	#bjf {

		top: 40vh;

		text-align: center;



		#name {

			font-size: 20pt;
			font-weight: 400;
			padding-top: 10px;
		}

		#description {

		font-family: sys-tt, sans-serif;
		font-weight: 400;
		font-size: 14pt;
		padding-top: 10px;

		}

	}

	#sig {

		width: 18%;
	}

	#learn-more {

	font-family: sys-tt, sans-serif;
		font-weight: 400;
		font-size: 13pt;
		padding-top: 20px;
		text-decoration: underline;


	}
}