$main-color: white;
$secondary-color: #121F4B;
$tertiary-color: rgb(251, 94, 88);
$desktop-break: 800px;


$main-font: brandon-grotesque, deva-ideal;
$h-font: deva-ideal;

html {

	padding: 40px 0 0 0 ;
	margin: 0;
}

body {

background-color: $main-color;
color: $secondary-color;

	padding: 0;
	margin: 0;
}


main {


	 


}

section {

	padding: 20px 4% 0;


	@media screen and (min-width: $desktop-break) {
  

  	
  		padding: 0 20vw;
  			
  
  		}


}



p {



font-family: $main-font, sys-tt, sans-serif;

font-size: 15pt;
line-height: 21pt;



margin-bottom: 15px;

@media screen and (min-width: $desktop-break) {

			font-size: 16pt;

		}


}


h1, h2, h3 {

font-family: $main-font, sans-serif;

font-weight: 700; 


font-size: 30pt;

line-height: 34pt;


}

h2 {

	@media screen and (min-width: $desktop-break) {
		
					text-align: center;
		
				}

}


h3 {

	font-size: 21pt;
	line-height: 24pt;

}

.is-hidden {

	display: none;
}



img {

	max-height: 33vh;
	margin-top: 5vh;
}

#selfie {

	max-height: 40vh;
	margin-top: 1vh;
}

#about-me {

	margin-bottom: 75px;
}

#contact {

	background-color: $secondary-color;

	padding-bottom: 30px;
	padding-top: 30px;

	color: $tertiary-color;
	a {

		color: $tertiary-color;
	}

}

#contact-info {



		font-size: 20pt;
		line-height: 30pt;

		padding-left: 1em;

			a:hover {

		color: white;
		text-decoration: none;
	}
}

#name {

	color: white;
	font-size: 30pt;
	padding-bottom: 20px;
}

#specs {
	padding-top: 30px;
	padding-bottom: 20px;

	background-color: $tertiary-color;

	color: $secondary-color;



	h2 {

		color: $main-color;

		text-align: left;

		
	}

	h3 {

		text-indent: 1em;

		color: $secondary-color;
		transition: .1s;
	}

	a {

		font-weight: 700;
		color: $secondary-color;
	}

	a:hover {

		color: white;
		text-decoration: none;
	}

	.subhead:hover {

		text-indent: 0em;
	 	scale: 1.1;
		text-decoration: underline;


		transition-duration: .2s;
		cursor: pointer;
	}

}

