html {

	padding: 0;
	margin: 0;
}

p {

	text-align: center;
	margin: 0;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-family:  benton-modern, serif;
	font-size: 22pt;
	color: white;


}
.bottom {
		position: absolute;
		bottom: 30px;
	}

.top {

	position: absolute;
	top: 10px;

}

body {


	padding: 0;
	margin: 0;

}

.button-a {



}

.is-hidden {

	display: none;
}

.is-clear {

	opacity: 0;
}



.fill-page {

	height: 100vh;

	width: 100%;
	position: relative;
	overflow: hidden;

}


.fill-space {

	height: 100%;
	margin: 0 auto;
	background-size: auto 100%;
	background-position: center top;

	position: relative;
	top: 0px;

}

section {

	text-align: center;

}

.center-graphic {

	position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 


}

.down-arrow {

	width: 13%;

	bottom: 15px;

}


#s1 {

	background-color: #121F4B;
	text-align: center;

	.having-fun {

		bottom: 0px;
		max-width: 96%;

	}
	
	.button-a {

		padding: 0 auto;
		position: absolute;

		top: 50vh;

		width: 76%;
		transition-duration: .3s;
		transition-timing-function: ease-out;
		}

	.button-a:hover {

		top: calc(50vh - 1%);
		width: 80%;
		transition-duration: .3s;
		transition-timing-function: ease-out;
		}

	.title-svg {

		max-width: 96%;
	}


}




#s2 {

	background-color: #121f4b;

	#goals {
		top:25vh;
		width: 170%;

		margin-left: -35%;
	}



}