$desktop-break: 800px;

html {

	padding: 0;
	margin: 0;
}

body {
  height: 100%;
  width: 100%;


}

p {

	text-align: center;
	margin: 0;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-family:  benton-modern, serif;
	font-size: 18pt;
	color: white;
	font-weight: 700;

	@media screen and (min-width: 360px) {

		font-size: 22pt;
	}

	@media screen and (min-width: $desktop-break) {
	
				font-size: 24pt;
	
			}

}

a {

	color: white;
}

.narration {


  margin-left: auto; 
  margin-right: auto;

  max-width: 550px;

  	position: absolute; 
  left: 0; 
  right: 0; 

}





.bottom {
		position: absolute;
		bottom: 42px;


		@media screen and (min-width: $desktop-break) {
		
					bottom: 7vh;
		
				}
	}

.bottom-alt {

position: absolute;
		bottom: 10px;
	

}

.top {

	position: absolute;
	top: 20px;

}

body {


	padding: 0;
	margin: 0;

}

.button-a {



}

.is-hidden {

	display: none;
}

.is-clear {

	opacity: 0;
}



.fill-page {

	height: 100vh;

	width: 100%;
	position: relative;
	overflow: hidden;

}


.fill-space {

	height: 100%;
	margin: 0 auto;
	background-size: auto 100%;
	background-position: center top;

	position: relative;
	top: 0px;

}

section {

	text-align: center;

}

.center-graphic {

	position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 


}

.down-arrow {

	width: 13%;

	bottom: 10px;

	@media screen and (min-width: $desktop-break) {
	
				max-height: 4vh;
	
			}

}


#s1 {

	background-color: #121F4B;
	text-align: center;

	.having-fun {

		bottom: 7px;
		height: 66vh;

		max-width: 96%;	

		@media screen and (min-width: $desktop-break) {
		
					bottom: 2vh;
					height: 75vh;
		
				}

	}

	.having-fun-art {

	max-height: 100%;
	max-width: 100%;


	}

	.title-svg {

		height: 45vh;

		@media screen and (min-width: $desktop-break) {
		
					height: 50vh;
		
				}
	}
	
	.button-a {

		padding: 0 auto;
		position: absolute;

		top: 40vh;



		width: 76%;
		transition-duration: .3s;
		transition-timing-function: ease-out;
		

		@media screen and (min-width: $desktop-break) {

			top: 47vh;
			width: 40vh;

		}

	}

	.button-a:hover {

		top: calc(40vh - 1%);
		width: 80%;
		transition-duration: .3s;
		transition-timing-function: ease-out;
		
		@media screen and (min-width: $desktop-break) {

				width: 44vh;	
				top: calc(47vh - 1%);
		
				}

		}

	


}




#s2 {

	background-color: #121f4b;

	#goals {
		top: calc(21vh);
		width: 170%;

		margin-left: -35%;

	@media screen and (min-width: $desktop-break) {
					
		position: absolute; 
		margin-left: auto; 
  		margin-right: auto;
  		left: 0; 
  		right: 0; 
		
  		width: 100%;
		max-width: 1000px;
		top: 16vh;
		
		}	

	}




}

#s3 {

	background-color: #3ce0aa;

	#pinata-01 {

		width: 70%;
		bottom: 26vh;

		@media screen and (min-width: $desktop-break) {
		
					max-width: 600px;

					bottom: 17vh;

					height: 120%;
		
				}

	}
	#pinata-02 {

		width: 85%;
		bottom: 26vh;

		@media screen and (min-width: $desktop-break) {
		
					max-width: 600px;

					bottom: 17vh;

					height: 100%;
		
				}
	}

	#pinata-p1, #pinata-p2 {

		
	
	}

}

#s4 {

	background-color: #121f4b;

	#sunrise {

		height: 100%;
		min-width: 100%;
	margin-left: -50vh;

	@media screen and (min-width: $desktop-break) {
		
					margin-left: 0px;
					margin-right: auto;
		
				}

	}

	#s4-p2 {

	
	} 
}

#s5 {

	background-color: #121f4b;

	#tictac {

		width: 90%;

		top: 22vh;

		@media screen and (min-width: $desktop-break) {
		
					max-width: 500px;
		
				}
	}

}

#s6 {

	background-color: #121f4b;

	#twbf {

		max-width: 90%;

		bottom: 36vh;

		@media screen and (min-width: $desktop-break) {
		
					max-height: 85vh;
					bottom: 10vh;
				}
	}

	#s6-p1 {

			text-align: center;
			top: 22vh;


			@media screen and (min-width: $desktop-break) {
			
						top: 40vh;
			
			}

		}

	#bjf {

		bottom: 19vh;

		text-align: center;

		@media screen and (min-width: $desktop-break) {
		
					max-width: 400px;

					position: absolute;
					
		
				}

		#name {

			font-size: 20pt;
			font-weight: 400;
			padding-top: 10px;
		}

		#description {

		font-family: sys-tt, sans-serif;
		font-weight: 400;
		font-size: 14pt;
		padding-top: 10px;

		}

	}

	.bjfAnim {



		transition: .5s ease-out;

		@media screen and (max-width: $desktop-break) {
		
					transform: translateY(16vh)!important;
		
				}

		@media screen and (min-width: $desktop-break) {
		
					/*margin-right: 0px;*/

					transform: translateX(35vw) translateY(16vh)!important;
					
		
				}


	}

	#sig {

		width: 18%;

		@media screen and (min-width: $desktop-break) {
		
					width: 27%;
		
				}
	}

	#learn-more {

	font-family: sys-tt, sans-serif;
		font-weight: 400;
		font-size: 13pt;
		padding-top: 20px;
		text-decoration: underline;


	}
}