  <!DOCTYPE html>

<html>
<body>

<main>

  {{ partial "html-head-alt.html" . }}

  <title>{{ .Site.Title }}</title>

	<section id="about-me">

		<img id="selfie" src="/images/self-portrait.svg">

	{{ with .Site.GetPage "/learn-more/about-me.md" }}

	{{ .Content }}

	{{ end }}


</section>

<section id="contact">

	<p id="name">Benjamin J. Friedrich</p>
	<p id="contact-info"> <a href="mailto:benjamin@friedrichdesign.co">benjamin@FriedrichDesign.co</a><br>
	<i>c.</i> 515.441.3472</p>
	

	

</section>

<section id="specs">


	{{ with .Site.GetPage "/learn-more/specs.md" }}

	{{ .Content }}

	{{ end }}



</section>


</main>

</html>

<script type="text/javascript" src="/script2.js"></script>

</body>